* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background: #ffffff;
}

/* NAVBAR */
nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000e8;
  position: relative;
  height: 70px;
  flex-wrap: wrap;
}

.logo {
  color: #fff;
}

#menuList {
  display: flex;
  gap: 35px;
  list-style: none;
}

#menuList li a {
  text-decoration: none;
  color: #f9f9f9;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background: #1a1a1a;
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar.show {
  right: 0;
}

.sidebar .nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .nav-links a {
  color: #f9f9f9;
  text-decoration: none;
  font-size: 18px;
}

/* Sidebar close icon */
.sidebar-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.close-sidebar {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

/* MENU ICON */
.menu-icon {
  display: none;
}

.menu-icon i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  #menuList {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
